@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);


.about-container {
  color: white;
  width: 100vw;
  height: 100vh;
  background: black !important;
  
  
  text-align: center;
  box-sizing: border-box;
}

.about-text-container {
  padding-top: 10rem;
}


.margin-top {
  margin-top: 8rem !important;
}